{% extends "base.html" %}

{% block title %}Galeria HTTP Tatu{% endblock %}

{% block content %}
    <p><b>Veja o significado dos códigos HTTP com fotos de tatus.</b></p>
    <p>Como usar: troque o [code] pelo código desejado.</p>
    <p>https://http.tatu/[code]</p>

    <div class="galeria-container">
        
        {% for codigo, info in codigos.items() %}

            <a href="/{{ codigo }}" class="card">
                
                <img class="card-img" 
                     src="{{ url_for('static', filename='images/' + info.imagem) }}" 
                     alt="{{ info.nome }}">
                
                <div class="card-info">
                    <span class="card-codigo">{{ codigo }}</span>
                    <span class="card-nome">{{ info.nome }}</span>
                </div>
            </a>
            
        {% endfor %}
        </div> {% endblock %}